---
const email = "berkay@berkaycubuk.com"
const socials = [
	{
		name: 'LinkedIn',
		link: 'https://www.linkedin.com/in/berkaycubuk/',
	},
	{
		name: 'GitHub',
		link: 'https://github.com/berkaycubuk',
	},
	{
		name: 'Website',
		link: 'https://berkaycubuk.com',
	},
	{
		name: 'YouTube',
		link: 'https://www.youtube.com/@berkaycubuk',
	},
]
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Resume - Berkay Çubuk</title>
		<script async src="https://analytics.bizmovo.com/script.js" data-website-id="3b8e1917-dc75-4ca0-bfe0-09e18537470d"></script>
	</head>
	<body class="flex flex-col items-center min-h-screen bg-neutral-800">

		<main class="container bg-neutral-100 px-4 md:px-14 py-10 sm:my-8">
			<header class="grid sm:grid-cols-2 gap-8 mb-20 justify-center sm:justify-normal">
				<div>
					<h1 class="text-4xl font-medium text-center sm:text-left">BERKAY ÇUBUK</h1>
				</div>
				<div class="flex flex-col w-full items-center sm:items-end gap-2">
					<a href={`mailto:${email}`} class="flex items-center gap-2 font-light underline">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" stroke="white" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-mail fill-blue-600"><rect width="20" height="16" x="2" y="4" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/></svg>
						{email}
					</a>
					<div class="flex items-center">
					{socials.map((item, index) => {
						if (index != 0) {
							return (
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
								<a href={item.link} target="_blank" class="flex items-center gap-2 font-light underline">
								{item.name}
								</a>
							)
						}
						return (
							<a href={item.link} target="_blank" class="flex items-center gap-2 font-light underline">
							{item.name}
							</a>
						)
					})}
					</div>
				</div>
			</header>

			<div class="grid lg:grid-cols-2 gap-20">

				<div class="flex flex-col gap-10">

					<section>
						<h2 class="text-lg flex items-center gap-2 mb-6">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="fill-blue-600 stroke-blue-600 lucide lucide-component"><path d="M5.5 8.5 9 12l-3.5 3.5L2 12l3.5-3.5Z"/><path d="m12 2 3.5 3.5L12 9 8.5 5.5 12 2Z"/><path d="M18.5 8.5 22 12l-3.5 3.5L15 12l3.5-3.5Z"/><path d="m12 15 3.5 3.5L12 22l-3.5-3.5L12 15Z"/></svg>
							Experience
						</h2>

						<div class="flex flex-col gap-5">

							<article class="flex flex-col md:flex-row justify-between gap-4">
								<div>
									<h3>Problem Solver</h3>
									<a href="https://bizmovo.com" target="_blank" class="font-light text-sm text-neutral-500 underline">Bizmovo</a>
									<ul class="font-light text-sm text-neutral-500 mt-1">
										<li class="flex items-center">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
											Developed custom projects for client all over the world.
										</li>
										<li class="flex items-center">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
											Most of the projects we worked on are web based full-stack projects.
										</li>
										<li class="flex items-center">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
											Learned to communicate effectively and split the problem into smaller chunks.
										</li>
										<li class="flex items-center">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
											Had a chance to experience team management for different projects.
										</li>
									</ul>
								</div>
								<div class="flex flex-col md:items-end whitespace-nowrap">
									<div class="font-light text-sm text-neutral-500 mb-1">Tekirdağ, Turkey</div>
									<div class="font-light text-sm text-neutral-500">Aug. 2023 / Present</div>
								</div>
							</article>

							<article class="flex flex-col md:flex-row justify-between gap-4">
								<div>
									<h3>Software Developer</h3>
									<a href="https://icrontech.com" target="_blank" class="font-light text-sm text-neutral-500 underline">ICRON</a>
									<ul class="font-light text-sm text-neutral-500 mt-1">
										<li class="flex items-center">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
											Redesigned the company website from Wordpress to Hugo.
										</li>
										<li class="flex items-center">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
											Developed UI's and integrated services with Angular.
										</li>
									</ul>
								</div>
								<div class="flex flex-col md:items-end whitespace-nowrap">
									<div class="font-light text-sm text-neutral-500 mb-1">Istanbul, Turkey - Remote</div>
									<div class="font-light text-sm text-neutral-500">Oct. 2021 / Aug. 2023</div>
								</div>
							</article>

							<article class="flex flex-col md:flex-row justify-between gap-4">
								<div>
									<h3>Frontend Developer</h3>
									<a href="https://remmsoft.com" target="_blank" class="font-light text-sm text-neutral-500 underline">Remmsoft</a>
									<ul class="font-light text-sm text-neutral-500 mt-1">
										<li class="flex items-center">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
											Designed and coded UI's for our industrial product.
										</li>
										<li class="flex items-center">
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
											Worked with Angular and Typescript.
										</li>
									</ul>
								</div>
								<div class="flex flex-col md:items-end whitespace-nowrap">
									<div class="font-light text-sm text-neutral-500 mb-1">Bursa, Turkey</div>
									<div class="font-light text-sm text-neutral-500">Jun. 2020 / Aug. 2020</div>
								</div>
							</article>

						</div>
					</section>

					<section>
						<h2 class="text-lg flex items-center gap-2 mb-6">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="fill-blue-600 stroke-blue-600 lucide lucide-component"><path d="M5.5 8.5 9 12l-3.5 3.5L2 12l3.5-3.5Z"/><path d="m12 2 3.5 3.5L12 9 8.5 5.5 12 2Z"/><path d="M18.5 8.5 22 12l-3.5 3.5L15 12l3.5-3.5Z"/><path d="m12 15 3.5 3.5L12 22l-3.5-3.5L12 15Z"/></svg>
							Projects
						</h2>

						<div class="flex flex-col gap-5">

							<article class="flex flex-col md:flex-row gap-4 justify-between">
								<div>
									<a class="underline" href="https://staticninja.com" target="_blank">Static Ninja</a>
									<p class="font-light text-sm text-neutral-500 mt-1">
										Set of tools to build static sites without the need of writing code.
									</p>
									<div class="flex items-center font-light text-sm text-neutral-500 mt-1">
										<div>PHP & Laravel</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Svelte</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>TailwindCSS</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>SQLite</div>
									</div>
								</div>
								<div class="flex flex-col md:items-end">
									<div class="font-light text-sm text-neutral-500">2024</div>
								</div>
							</article>

							<article class="flex flex-col md:flex-row gap-4 justify-between">
								<div>
									<a class="underline" href="https://berkaycubuk.com/simplified-hugo" target="_blank">Simplified Hugo E-book</a>
									<p class="font-light text-sm text-neutral-500 mt-1">
										Simplifying the Hugo for beginners and helping them to create their own Hugo sites.
									</p>
								</div>
								<div class="flex flex-col md:items-end">
									<div class="font-light text-sm text-neutral-500">2024</div>
								</div>
							</article>

							<article class="flex flex-col md:flex-row gap-4 justify-between">
								<div>
									<a class="underline" href="https://billiard.software" target="_blank">Billiard Software</a>
									<p class="font-light text-sm text-neutral-500 mt-1">
										Billiard venue management system with reporting, payment and mobile features.
									</p>
									<div class="flex items-center font-light text-sm text-neutral-500 mt-1">
										<div>Golang</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Vue</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>MySQL</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Flutter (for Android)</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Docker</div>
									</div>
								</div>
								<div class="flex flex-col md:items-end">
									<div class="font-light text-sm text-neutral-500">2022</div>
								</div>
							</article>

							<article class="flex flex-col md:flex-row gap-4 justify-between">
								<div>
									<a class="underline" href="https://mqtt.studio" target="_blank">MQTT Studio</a>
									<p class="font-light text-sm text-neutral-500 mt-1">
										IoT dashboard builder for MQTT based projects.
									</p>
									<div class="flex items-center font-light text-sm text-neutral-500 mt-1">
										<div>React</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Firebase</div>
									</div>
								</div>
								<div class="flex flex-col md:items-end">
									<div class="font-light text-sm text-neutral-500">2022</div>
								</div>
							</article>

							<article class="flex flex-col md:flex-row gap-4 justify-between">
								<div>
									<a class="underline" href="https://berkaycubuk.com" target="_blank">Personal Website</a>
									<p class="font-light text-sm text-neutral-500 mt-1">
										It contains my blog posts, projects and other stuff.
									</p>
									<div class="flex items-center font-light text-sm text-neutral-500 mt-1">
										<div>Astro</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>TailwindCSS</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Netlify</div>
									</div>
								</div>
								<div class="flex flex-col md:items-end">
									<div class="font-light text-sm text-neutral-500">2020</div>
								</div>
							</article>

							<article class="flex flex-col md:flex-row gap-4 justify-between">
								<div>
									<div class="">Uniburada</div>
									<p class="font-light text-sm text-neutral-500 mt-1">
										Social media for university clubs, inspired by Facebook.
									</p>
									<div class="flex items-center font-light text-sm text-neutral-500 mt-1">
										<div>Laravel</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>MySQL</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Flutter</div>
									</div>
								</div>
								<div class="flex flex-col md:items-end">
									<div class="font-light text-sm text-neutral-500">2020</div>
								</div>
							</article>

						</div>
					</section>

				</div>

				<div class="flex flex-col gap-10">

					<section>
						<h2 class="text-lg flex items-center gap-2 mb-6">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="fill-blue-600 stroke-blue-600 lucide lucide-component"><path d="M5.5 8.5 9 12l-3.5 3.5L2 12l3.5-3.5Z"/><path d="m12 2 3.5 3.5L12 9 8.5 5.5 12 2Z"/><path d="M18.5 8.5 22 12l-3.5 3.5L15 12l3.5-3.5Z"/><path d="m12 15 3.5 3.5L12 22l-3.5-3.5L12 15Z"/></svg>
							Skills
						</h2>

						<div class="flex flex-col gap-5">

							<article class="flex gap-4 justify-between">
								<div>
									<h3>Full-Stack Web Development</h3>
									<div class="flex flex-wrap items-center font-light text-sm text-neutral-500 mt-1">
										<div>PHP</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Laravel</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Golang</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Svelte</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>TailwindCSS</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Vue</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>SQLite</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>MySQL</div>
									</div>
								</div>
								<div class="flex flex-col items-end">
								</div>
							</article>

							<article class="flex gap-4 justify-between">
								<div>
									<h3>Servers & Terminals</h3>
									<div class="flex flex-wrap items-center font-light text-sm text-neutral-500 mt-1">
										<div>Linux</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Vim</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Tmux</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Nginx</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Bash</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Git</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Docker</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Python</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>C (just the basics)</div>
									</div>
								</div>
								<div class="flex flex-col items-end">
								</div>
							</article>

							<article class="flex gap-4 justify-between">
								<div>
									<h3>Static Sites</h3>
									<div class="flex items-center font-light text-sm text-neutral-500 mt-1">
										<div>Hugo</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Astro</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Go templates</div>
									</div>
								</div>
								<div class="flex flex-col items-end">
								</div>
							</article>

							<article class="flex gap-4 justify-between">
								<div>
									<h3>UI Design</h3>
									<div class="flex items-center font-light text-sm text-neutral-500 mt-1">
										<div>Figma</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Static Ninja</div>
									</div>
								</div>
								<div class="flex flex-col items-end">
								</div>
							</article>

							<article class="flex gap-4 justify-between">
								<div>
									<h3>Problem Solving</h3>
									<div class="flex items-center font-light text-sm text-neutral-500 mt-1">
										<div>Freelance</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Business projects</div>
										<div>
											<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-dot"><circle cx="12.1" cy="12.1" r="1"/></svg>
										</div>
										<div>Constraints</div>
									</div>
								</div>
								<div class="flex flex-col items-end">
								</div>
							</article>

						</div>
					</section>

					<section>
						<h2 class="text-lg flex items-center gap-2 mb-6">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="fill-blue-600 stroke-blue-600 lucide lucide-component"><path d="M5.5 8.5 9 12l-3.5 3.5L2 12l3.5-3.5Z"/><path d="m12 2 3.5 3.5L12 9 8.5 5.5 12 2Z"/><path d="M18.5 8.5 22 12l-3.5 3.5L15 12l3.5-3.5Z"/><path d="m12 15 3.5 3.5L12 22l-3.5-3.5L12 15Z"/></svg>
							Education
						</h2>

						<div class="flex flex-col gap-5">

							<article class="grid grid-cols-2 gap-4">
								<div>
									<h3>Bursa Uludag University</h3>
									<div class="font-light text-sm text-neutral-500">Bachelors of Computer Engineering</div>
								</div>
								<div class="flex flex-col items-end">
									<div class="font-light text-sm text-neutral-500 mb-1">Bursa, Turkey</div>
									<div class="font-light text-sm text-neutral-500">2019 / 2023</div>
								</div>
							</article>

							<article class="grid grid-cols-2 gap-4">
								<div>
									<h3>Suleyman Demirel High School</h3>
									<div class="font-light text-sm text-neutral-500">High School Diploma</div>
								</div>
								<div class="flex flex-col items-end">
									<div class="font-light text-sm text-neutral-500 mb-1">Aydın, Turkey</div>
									<div class="font-light text-sm text-neutral-500">2015 / 2019</div>
								</div>
							</article>

						</div>
					</section>

					<section>
						<h2 class="text-lg flex items-center gap-2 mb-6">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="fill-blue-600 stroke-blue-600 lucide lucide-component"><path d="M5.5 8.5 9 12l-3.5 3.5L2 12l3.5-3.5Z"/><path d="m12 2 3.5 3.5L12 9 8.5 5.5 12 2Z"/><path d="M18.5 8.5 22 12l-3.5 3.5L15 12l3.5-3.5Z"/><path d="m12 15 3.5 3.5L12 22l-3.5-3.5L12 15Z"/></svg>
							Activities
						</h2>

						<div class="flex flex-col gap-5">

							<article class="grid grid-cols-2 gap-4">
								<div>
									<h3>Caver</h3>
									<div class="font-light text-sm text-neutral-500">UMAST</div>
								</div>
								<div class="flex flex-col items-end">
									<div class="font-light text-sm text-neutral-500 mb-1">Student Caving Group</div>
									<div class="font-light text-sm text-neutral-500">2022 / Present</div>
								</div>
							</article>

							<article class="grid grid-cols-2 gap-4">
								<div>
									<h3>Developer / Teacher / Learner</h3>
									<div class="font-light text-sm text-neutral-500">YouTube, Personal Blog</div>
								</div>
								<div class="flex flex-col items-end">
									<div class="font-light text-sm text-neutral-500 mb-1">Sharing what I learn and interested in</div>
									<div class="font-light text-sm text-neutral-500">2019 / Present</div>
								</div>
							</article>

						</div>
					</section>

					<section>
						<h2 class="text-lg flex items-center gap-2 mb-6">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="fill-blue-600 stroke-blue-600 lucide lucide-component"><path d="M5.5 8.5 9 12l-3.5 3.5L2 12l3.5-3.5Z"/><path d="m12 2 3.5 3.5L12 9 8.5 5.5 12 2Z"/><path d="M18.5 8.5 22 12l-3.5 3.5L15 12l3.5-3.5Z"/><path d="m12 15 3.5 3.5L12 22l-3.5-3.5L12 15Z"/></svg>
							Languages
						</h2>

						<div class="flex flex-col gap-3">

							<article class="grid grid-cols-2 gap-4">
								<div>
									<h3>Turkish</h3>
								</div>
								<div class="flex flex-col items-end">
									<div class="font-light text-sm text-neutral-500">Native</div>
								</div>
							</article>

							<article class="grid grid-cols-2 gap-4">
								<div>
									<h3>English</h3>
								</div>
								<div class="flex flex-col items-end">
									<div class="font-light text-sm text-neutral-500">C1</div>
								</div>
							</article>

						</div>
					</section>

				</div>

			</div>
		</main>

	</body>
</html>
