---
import { getCollection } from 'astro:content'

const projects = await getCollection('projects')
---

<section class="py-40">

	<h2 class="text-center text-5xl font-bold text-neutral-900 mb-20">Projects I Worked With</h2>

	<div class="flex flex-col gap-20">

		{projects.sort((a,b) => a.data.order - b.data.order).map((project) => (
		<div class="grid lg:grid-cols-2 gap-10">
			<div>
				<h3 class="text-3xl font-medium mb-2">{project.data.title}</h3>
				<div>
					<a class="underline text-xl font-light text-neutral-800 hover:text-neutral-600" href={`https://${project.data.siteLink}`} target="_blank">{project.data.siteLink}</a>
				</div>

				<p class="mt-4 font-light text-neutral-800 text-xl">{project.data.description}</p>

				{project.data.tags ? (
				<div class="flex items-center gap-1 mt-4">
					{project.data.tags.map((tag) => (
					<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">{tag}</div>
					))}
				</div>
				) : ''}
			</div>
			<a href={'/projects/' + project.slug} class="hover:scale-105 transition-all duration-300 hover:shadow-lg">
				<img class="rounded" src={project.data.image} alt={project.data.title}>
			</a>
		</div>
		))}

	</div>

</section>
