---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import CTA from '../../components/CTA.astro'
import Prose from '../../components/Prose.astro'

export async function getStaticPaths() {
  const blogEntries = await getCollection('projects');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title} description="">

	<section class="py-20">
		<h1 class="text-5xl font-bold text-neutral-900 mb-10">{entry.data.title}</h1>

		<p class="text-lg font-light text-neutral-700 leading-relaxed mb-8">{entry.data.description}</p>

		<img src={entry.data.image} alt={entry.data.title} class="rounded mb-8" />

		<div class="grid sm:grid-cols-2 gap-6 sm:gap-2">
			<div class="flex gap-2">
			{entry.data.tags.map((tag) => (
			<div class="rounded-full px-4 py-2 text-sm bg-neutral-200 text-neutral-800">{tag}</div>
			))}
			</div>

			<div class="flex sm:justify-end">
				<a class="font-light text-lg underline" href={'https://' + entry.data.siteLink}>{entry.data.siteLink}</a>
			</div>
		</div>

		<Prose>
			<Content />
		</Prose>
	</section>

	<CTA />

</Layout>
