---
interface Props {
	title: string;
	description: string;
	image: string;
}

const { title, description, image } = Astro.props;

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{`${title}${title ? ' - ' : ''}Berkay Çubuk`}</title>

		<meta property="og:title" content={`${title}${title ? ' - ' : ''}Berkay Çubuk`} />
		<meta name="og:description" content={description} />

		{image ?
			<meta name="og:image" content={image} />
			<meta name="twitter:image" content={image} />
		: ''
		}

		<meta property="twitter:title" content={`${title}${title ? ' - ' : ''}Berkay Çubuk`} />
		<meta name="twitter:description" content={description} />

		<link rel="sitemap" href="/sitemap-index.xml" />

		<script async src="https://analytics.bizmovo.com/script.js" data-website-id="3b8e1917-dc75-4ca0-bfe0-09e18537470d"></script>

		<script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="0089c4bd-f371-49ef-be5f-624eb72eab47";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
	</head>
	<body class="flex flex-col min-h-screen bg-neutral-100">
		<Header />
		<div class="container mx-auto px-4 flex-1">
			<slot />
		</div>
		<Footer />
	</body>
</html>

<style is:global>
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
</style>
